<form class="container" action="/update/{{data.ID}}?_method=PUT" method="POST">
    <div class="col s6">

    </div>
  <input type="number" name="id" value="{{data.ID}}" hidden="true">
  <input type="text" name="Title" value="{{data.Title}}">
  <input type="number" name="Page_Count" value="{{data.Page_Count}}">
  </div>
  <input type="text" name="Programming_Languages" value="{{data.Programming_Languages}}">
  <input type="number" name="ISBN" value="{{data.ISBN}}">


  <button class="btn waves-effect waves-light" type="submit" >Update Info
   <i class="material-icons right">send</i>
 </button>

</form>
